# docker deps
# 网桥支持
CONFIG_PACKAGE_kmod-bridge=y
CONFIG_PACKAGE_kmod-br-netfilter=y

# 虚拟网络设备
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-dummy=y

# Overlay 文件系统（Docker 镜像层）
CONFIG_PACKAGE_kmod-overlay=y

# 设备映射器（Docker 存储驱动）
CONFIG_PACKAGE_kmod-dm=y

# 网络命名空间
CONFIG_PACKAGE_kmod-nsproxy=y

# 加密支持
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-blake2b=y
CONFIG_PACKAGE_kmod-crypto-xxhash=y

# 文件系统
CONFIG_PACKAGE_kmod-fs-btrfs=y

# 压缩库
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-xxhash=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y

# iptables/NAT
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y
